body{
	padding-bottom: 20px;
}
*{
	box-sizing: border-box;
}

.room-row {
	display: block;
}

.room-cell {
    text-align: center;
    font-size: 18px;
    width: 28px;
    height: 30px;
}

.map-preview .room-cell i.glyphicon {
    position: relative;
    top: -4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.coord{
	display: none;
}

.map-preview .coord{
    position: absolute;
    font-size: 12px;
    margin-left: -4px;
    margin-top: -16px;
    display: block;
    text-align: center;
    width: 28px;
    font-weight: bold;
}

.room-cell.btn-disponible{
	color: rgba(3,3,3,.6);
}

.btn-disabled{
	color: #fff;
    background-color: #949494;
    border-color: #878787;
}

.cinema-screen{
    border-top: 50px solid rgba(86, 86, 86, 0.43);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.cinema-screen p{
    position: relative;
    top: -40px;
    font-size: 25px;
    color: white;
}

.alert-disabled{
	color: #fff;
    background-color: #BBB;
    border-color: #999;
}

.white-bg{
	background-color: white !important;
}

.movie-row{
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px 10px;
	margin-bottom: .5em;
}

.movie-row .pic-holder{
	width: 150px;
	height: 150px;
	margin-right: 10px;
	float: left;
}

@media (max-width: 768px){
	.movie-row .pic-holder{
		float: none;
	}
}

.row-heading a{
	color: inherit;
	text-decoration: none;
}

.reservador-boletos thead tr, .reservador-boletos tfoot tr{
	background: #F0F0F0;
}

.cinema-grid{
	background-color: rgba(210, 210, 210, 0.75);
    text-align: center;
    border-radius: 6px;
}


.movie-thumb{
	width: 100%;
	height: 100%;
}

.btn-margensito{
    margin-left: 2px;
}

.btn-disponible{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-no-utilizado{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-ocupado{
    color: #fff;
    background-color: #949494;
    border-color: #878787;
}
.btn-no-disponible{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-seleccionado{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-seleccionado:hover{
    color: #fff;
}
.btn-4x{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-vip{
    color: #fff;
    background-color: #9d40bb;
    border-color: #712392;
}